<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ool_mobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".service.ProjectApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_ool_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_ool_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.OOLMOBILE"
        tools:ignore="AllowBackup">
        <activity android:name=".ui.form.add_package.AddPackageTypeActivity" />
        <activity android:name=".ui.form.add_firing.AddFiringActivity" />
        <activity android:name=".ui.form.add_equipment_details.AddEquipmentDetailsActivity" />
        <activity android:name=".ui.form.add_equipment.AddEquipmentActivity" />
        <activity android:name=".ui.form.add_employee.AddEmployeeActivity" />
        <activity android:name=".ui.TempActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.form.add_photo_shoot.PhotoshootFormActivity"
            android:theme="@style/Theme.OOLMOBILE.NoActionBar" />
        <activity
            android:name=".ui.content.ContentActivity"
            android:label="@string/label_contentActivity"
            android:theme="@style/Theme.OOLMOBILE.NoActionBar" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/Theme.OOLMOBILE.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>